testCase,httpStatusCode{{#allVars}},{{{name}}}{{/allVars}}
Success,200{{#allVars}},{{#isString}}foo{{/isString}}{{#isNumeric}}0{{/isNumeric}}{{#isArray}}[{{{items.dataType}}},{{{items.dataType}}}]{{/isArray}}{{/allVars}}